<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<div th:each="m : ${msg}" id = "mensagem">
	
		<span th:text="${m}"></span>
	
	</div>
<fieldset>
	
	<legend>Cadastro de Pessoa</legend>
	
	<form action="salvarpessoa" th:object="${pessoaobj}" method="post" id="form">
		
		<label>ID</label>
		
		<input type="text" name="id" th:field="*{id}" readonly="readonly">
	
		<label>Nome</label> 
		
		<input type="text" name="nome" th:field="*{nome}"/> 
		
		<label>Sobrenome</label> 
		
		<input type="text" name="sobrenome" th:field="*{sobrenome}"/> 
		
		<div sec:authorize="hasRole('ROLE_GERENTE')">
		
			<label>Idade</label> 
		
			<input	type="text" name="idade" th:field="*{idade}"/> 
		
		</div>

		<label for="sexo">Sexo</label> 
		
		<select name="sexo" id="sexo" th:field="*{sexo}">

			<option  value="" selected="selected">[Selecione]</option>

			<option value="M">Masculino</option>

			<option value="F">Feminino</option>

		</select> <input type="submit" value="salvar">	

	</form>

</fieldset>
	
	
<form action="pesquisapessoa" method="post" id="pesquisa">
	
	<label>Pesquisa por nome</label>
	
	<input type="text" name="nomepesquisa">

	<label for="sexo">Sexo</label> 
		
	<select name="sexo" id="sexo" >

		<option  value="" selected>[Selecione]</option>

		<option value="M">Masculino</option>

		<option value="F">Feminino</option>

	</select> 	


	<input type="submit" value="buscar">

</form>
	
	<a href="/listapessoas">Listar Pessoas</a>
	
	
	<table>

		<tr th:each="pessoa : ${pessoas}">

			<td th:text=" ${pessoa.id}"/>

			<td><a th:href="@{/telefones/{idpessoa}(idpessoa = ${pessoa.id})}"><span th:text=" ${pessoa.nome}"></span></a><td/>

			<td th:text=" ${pessoa.sobrenome}"/>

			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Editar</a></td>

			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Excluir</a></td>

		</tr>

	</table>
	
	<script type="text/javascript">

		document.querySelector('#form').addEventListener('submit',(event) => {
			const divMensagem = document.querySelector('#mensagem')
			const inputSexo = document.querySelector('#sexo')
			if (!inputSexo.value) {
				event.preventDefault()
				divMensagem.innerHTML = `<h3>Esqueceu de selecionar o seu sexo<h3>`
			}
		})

	</script>

</body>
</html>
