<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<h2>Cadastro Pessoa</h2>

	<form action="salvarpessoa" method="post">
		<label>Nome</label> 
		<input type="text" name="nome"/> 
		
		<label>Sobrenome</label> 
		<input type="text" name="sobrenome" /> 
		
		<label>Idade</label> 
		<input	type="text" name="idade" /> 
		
		<input type="submit" value="salvar">
	</form>
	
	<a href="/listapessoas">Listar Pessoas</a>
	
	<table>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text=" ${pessoa.id}"/>
			<td th:text=" ${pessoa.nome}"/>
			<td th:text=" ${pessoa.sobrenome}"/>
		</tr>
	</table>

</body>
</html>