<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>	
	<h2>Controle De Telefones</h2>
	
	<a href="/cadastropessoa">Cadastro De Pessoa</a>
	
	<div th:each="p : ${pessoaobj}">
		<p>ID: <span th:text="${p.id}"></span></p>
		<p>Nome: <span th:text="${p.nome}"></span></p>
		<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
		<p>Idade: <span th:text="${p.idade}"></span></p>
	</div>
	
	<div th:each="m : ${msg}">
		<span th:text="${m}"></span>
	</div>
	

	<h5>Telefones</h5>
	<form th:action="@{/addfonepessoa/{pessoaid}(pessoaid = ${pessoaobj.id})}" method="post">		
	
		<label for="numero">Numero</label>
		<input type="text" name="numero"><br/>
		
		<label for="tipo">Tipo</label>
		<input type="text" name="tipo"><br/>
		
		
		<input type="submit" value="Adicionar">
	</form>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Numero</th>
			<th>Tipo</th>
			<th>Deletar Telefones</th>
		</tr>
		
		<tr th:each="fone : ${telefones}">
			<td th:text="${fone.id}"/>
			<td th:text="${fone.numero}"/>
			<td th:text="${fone.tipo}"/>
			<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone = ${fone.id})}"><span>Excluir</span></a></td>
		</tr>
		
	</table>
	
</html>